.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input,
.select {
  padding: 4px 8px;
  width: 154px;
  height: 26px;
  border: 1px solid #b8b4b4;
  border-radius: 4px;

  &[type='color'] {
    padding: 0 1px;
    width: 28px;
    height: 25px;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    border: 1px solid #738e4c;
  }

  &::placeholder {
    color: #b8b4b4;
  }

  &:disabled {
    cursor: auto;
  }
}
